body {
    font-family: Garamond, "Times New Roman", serif;
    color: #888888;
    margin: 0;
}

.picHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 3s;
}

.map {
    display: none;
    z-index: -999;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: opacity 2s;
    width: 100vw;
    height: 100vh;
}

.pic {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;

    /* misty border */
    -moz-box-shadow:     inset 25px 25px 25px 0 white, inset -25px -25px 25px 0 white;
    -webkit-box-shadow:  inset 25px 25px 25px 0 white, inset -25px -25px 25px 0 white;
    box-shadow:          inset 25px 25px 25px 0 white, inset -25px -25px 25px 0 white;
    /* There's a bug with box-shadow + border-radius whereby there's a 1 pixel transparent edge */
    /* border-radius: 25%; */
}

.answers {
    position: absolute;
    right: 0;
    top: 0;
    
    transition: opacity 3s;
}

.answer {
    position: relative;
    margin: 15%;
    padding: 0.25em 0.75em 0.25em 0.75em;
    cursor: pointer;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    line-height: 5vh; /* valign text in middle */
    background: rgba(255,255,255,1);
    border-radius: 1.5em;

    -webkit-box-shadow: 10px 10px 18px 0 rgb(211,211,211), -5px -5px 25px 10px rgb(255,255,255);
    -moz-box-shadow:    10px 10px 18px 0 rgb(211,211,211), -5px -5px 25px 10px rgb(255,255,255);
    box-shadow:         10px 10px 18px 0 rgb(211,211,211), -5px -5px 25px 10px rgb(255,255,255);
}
.answer:hover {
	top: 5px;
}
.answer:active {
	top: 10px;
}

hr {
    border: 0;
    height: 1px;
    margin-top: 3px;
    margin-bottom: 3px;
    background-image: -webkit-linear-gradient(left, #F8F8F8, #D3D3D3, #F8F8F8);
    background-image: -moz-linear-gradient(left, #F8F8F8, #D3D3D3, #F8F8F8);
    background-image: -ms-linear-gradient(left, #F8F8F8, #D3D3D3, #F8F8F8);
    background-image: -o-linear-gradient(left, #F8F8F8, #D3D3D3, #F8F8F8);
}

hr.small1 {
    width: 10%;
}

hr.small2 {
    width: 15%;
}

hr.medium {
    width: 40%;
}

hr.big {
    width: 65%;
}

.answerText {
    padding: 0.25em 0;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

/* The Modal (background) */
.modal {
    z-index: 999;
    display: none;
    transition: opacity 2s;
    opacity: 0;
    cursor: pointer; /* to help user see that clicking anywhere will close the result popup */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 50%;
    height: 75%;
    overflow: auto; /* Enable scroll if needed */
/*    background-color: rgb(0,0,0); /* Fallback color */
/*    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    width: 60%;
    
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 20%;
    left: 30%;
    
    border-radius: 50%;
    font-size: 1vw;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    
    -webkit-box-shadow: 10px 0 20px 20px white, -10px 0 20px 20px white;
    -moz-box-shadow:    10px 0 20px 20px white, -10px 0 20px 20px white;
    box-shadow:         10px 0 20px 20px white, -10px 0 20px 20px white;
}

.result {
    display: none;
    font-size: 2em;
}

.rightAnswer {
    display: none;
    font-size: 2em;
}

.externalLink {
    height: 15px;
    width: 15px;
}



@media only screen and (orientation: landscape) {

    .modal {
        height: 100%;
    }
    
    .modalContent {
        top: 40%;
        left: 40%;
    }

    .answers {
        width: 30%;
        float: right;
    }

    .answer {
        font-size: 2vw;
    }
}

@media only screen and (orientation: portrait) {
    .answers {
        right: auto;
        left: 0;
        top: 40%;
        
        height: 25%;
        width: 100%;
    }

    .answer {
        width: max-content;
        font-size: 4vw;
        margin: 5% auto 5% auto;
    }

    .modal {
        width: 75%;
    }

    .modalContent {
        font: 1.5vw;
        left: 40%;
        width: 75%;
        margin: 0;
        padding: 0;
    }
}
